:root {
    --background-color: #000000dc;
    --text-color: #f5f5f5;
    --border-color: #d6d6d6bb;
    --table-header-color: #0000005b;
}

body {
    /* background-color: var(--background-color); */
    background-image: url("Blue Matrix Code Wallpaper Live.jpeg");
    color: var(--text-color);
}

.totot {
    /* min-height: 100vh; */
    /* position: absolute; */
    /* display: absolute; */
    /* position: absolute;
    width: 82vw;
    height: 90vh;
    background-color: rgba(143, 143, 143, 0.333);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden; */
}

.table {
    border-color: var(--border-color);
    /* position: absolute; */
    /* width: 82vw;
    height: 90vh; */
    background-color: rgba(143, 143, 143, 0.333);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table-dark {
    color: var(--text-color);
    background-color: var(--background-color);
}

.table-bordered {
    border: 1px solid var(--border-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-header-color);
    border-radius: .8rem;
}

.table-hover tbody tr:hover {
    color: var(--text-color);
    background-color: var(--border-color);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-sm th,
.table-sm td {
    padding: .3rem;
}

.thead-dark th {
    color: var(--text-color);
    background-color: var(--table-header-color);
    border-radius: .8rem;
    border-color: var(--border-color);
}

.table-header {
    cursor: pointer;
}

.form-select {
    display: inline-block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%255' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: var(--table-header-color);
    border-radius: .8rem;
    border: 2.5px solid var(--border-color);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select-sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    height: calc(1.5em + .5rem + 2px);
    border-radius: 2rem;
}

.m-2 {
    margin: .5rem !important;
}

#pagination button {
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.input-group {
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    color: rgb(255, 255, 255);
}

.input-group:hover {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.533);
    box-shadow: 0 .1rem .4rem #0002;
}

.input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.form-control-sm {
    background-color: rgba(0, 0, 0, 0.333);
    height: calc(1.3em + .3rem + 2px);
    color: white;
    border-radius: 2rem;
}